allure-python-commons==2.9.43
appdirs==1.4.4
argcomplete==1.12.3
attrs==21.2.0
bagit==1.8.1
beautifulsoup4==4.9.3
bioblend==0.16.0
bleach==3.3.0
boltons==21.0.0
boto==2.49.0
CacheControl==0.12.6
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
coloredlogs==15.0.1
configparser==5.0.2
cwltool==3.1.20210616134059
decorator==4.4.2
distlib==0.3.2
docutils==0.17.1
ephemeris==0.10.7
filelock==3.0.12
flake8==3.9.2
Flask==2.0.1
galaxy-containers==21.1.0
galaxy-tool-util==21.1.2
galaxy-util==21.1.0
glob2==0.7
gxformat2==0.15.0
humanfriendly==9.2
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
libsass==0.21.0
lockfile==0.12.2
lxml==4.6.5
MarkupSafe==2.0.1
mccabe==0.6.1
mistune==0.8.4
msgpack==1.0.2
mypy-extensions==0.4.3
networkx==2.5.1
oyaml==1.0
packaging==20.9
planemo==0.74.4
pluggy==0.13.1
prov==1.5.1
psutil==5.8.0
py==1.10.0
pyaml==20.4.0
pycodestyle==2.7.0
pydot==1.4.2
pyflakes==2.3.1
pyparsing==2.4.7
pysam==0.16.0.1
pytest==6.2.4
python-dateutil==2.8.1
PyYAML==5.4.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
repoze.lru==0.7
requests==2.25.1
requests-toolbelt==0.9.1
Routes==2.5.1
ruamel.yaml==0.17.9
ruamel.yaml.clib==0.2.2
schema-salad==7.1.20210611090601
shellescape==3.8.1
six==1.16.0
soupsieve==2.2.1
tabulate==0.8.9
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.4.7
webencodings==0.5.1
Werkzeug==2.0.1
zipstream-new==1.1.8
